body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 150px 0 0;
    background-color: black;
    color: white;
}

.column {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.navbar-container{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    background-color: #333;
    height: 100px;
    align-items: center;
}

#name {
    padding-left: 5%;
    color: #fff;
    margin-right: auto;
    font-size: x-large;
}

#navbar {
    background-color: #333; 
    height: 100px; 
    display: flex; 
    justify-content: right;
    align-items: center; 
}

#navbar a {
    color: white; 
    text-decoration: none; 
    font-size:x-large;
    margin: 0 15px; 
}

#navbar a:hover {
    background-color: #555;
    color: #fff;
}

h1 {
    text-align: center;
    color:#fff;
    margin-bottom: 10px;
}

p {
    text-align: left;
    line-height: 1.6;
}

.aboutcontainer {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 300px auto 0;
    box-sizing: border-box;
}

.aboutcontainer img {
    width: 100%;
    max-width: 600px;
    z-index: -1;
    position: absolute;
    top: -20cap;
    right: -20cap;
    border-radius: 50%;
}

#text {
    position: relative;
    width: 70%; 
    left: 0%; 
    transform: translateY(-50%);
    padding: 20px;
}

.hobbiescontainer {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    padding: 20px;
}

.hobbiescontainer img {
    max-width: 100%;
    height: 400px;
    border-radius: 10px;
}

.row {
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    width: 75%;
    margin: 0 auto;
  }
  .row:nth-child(even) {
    background-color: goldenrod;
  }
  .row:nth-child(odd) {
    background-color: crimson;
    color: black;
  }

  .row img {
    width: auto;
    height: 50cap;
    margin-right: 20px;
  }
  .row .text {
    flex: 30%;
  }